# Data
data/raw/
data/maf/
data/vcf/
data/annotation/
data/filtered/

# Results
results/

# Figures
figures/

# Reports
reports/final/*.pdf
reports/final/*.html

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
